
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">




<div class="main">
  <h1 >KU-Polls </h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>


<div class="msg">
{% if messages %}
<ul>
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
</div>
