
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<body>
{% if user.is_authenticated %}
Hello, {{ user.username }}
{% else %}
<a href="../accounts/login">Login</a>
{% endif %}

<div class="table">

<table style="width: 90% ">
				<thead>
					<th>Polls</th>
				  <th>vote</th>
          <th>results</th>
				</thead>
          <div class="main">
            <h1 >KU-Polls </h1>
          {% if latest_question_list %}
              <ul>
              {% for question in latest_question_list %}

                    <tr>
                    <td><p>{{ question.question_text }}</p></td>

                      {% if question.can_vote %}
                        <td><center><a href="{% url 'polls:detail' question.id %}">vote</a></center></td>
                      {% else %}
                        <td style="color:red"><center>time out</center></td>
                      {% endif %}

                    <td><center><a href="{% url 'polls:results' question.id %}">result</a></center></td>
                    </tr>

              {% endfor %}
              </ul>
          {% else %}
              <p>No polls are available.</p>
          {% endif %}
          </div>

	</table>

</div>

<div class="msg">
{% if messages %}
<ul>
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
</div>
</body>
