* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100%;
  background: #fed152 ;

}
.icon h1 {
  margin-left: 50px;
  margin-top: 20px;
}
.icon ul {
  margin-left: 50px;
  margin-top: 20px;
}
.icon ul li{
  margin-left: 50px;
  margin-top: 20px;
}
.icon a{
  margin-left: 300px;
}
