body{
  background-image: url("././static/images/background2.gif");
  height: 100%;
}

.main h1{
  color: green;
  margin-left: 50px;
  margin-top: 50px;


}
.main ul  {
  margin-left: 50px;
  margin-top: 50px;

}
