body {
    background: url("images/background.gif") ;
    background-size: cover;
}

.main h1{
  color: green;
  margin-left: 50px;
  margin-top: 50px;
}
.main ul  {
  margin-left: 50px;
  margin-top: 50px;
}

.msg ul {
  color: red;
  position: fixed;
  bottom: 10;
  right: 70px;
}

.phead {
  margin-right: 100px;
}

.table table, th, td {
  margin-left: 5%;
  margin-right: 20px;
  border: 1px solid black;
}
